---
version: '3'

services:
  pgadmin:
    image: docker.io/dpage/pgadmin4:6.20
    container_name: postgresql-pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: "{{ SECRET_DFAULT_EMAIL }}"
      PGADMIN_DEFAULT_PASSWORD: "{{ SECRET_PSQL_PASSWORD }}"
      PGADMIN_LISTEN_PORT: 12080
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    labels:
      - traefik.enable=true
      - traefik.http.routers.pgadmin.rule=Host(`pgadmin.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.pgadmin.entrypoints=websecure
      - traefik.http.routers.pgadmin.tls.certresolver=letsencrypt
      - traefik.http.services.pgadmin.loadbalancer.server.port=12080

    networks:
      - traefik_proxy
      - default

volumes:
  pgadmin-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ containers_base_dir }}/data/pgadmin"


networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  default:
    driver: bridge