---
- name: Create paperless application directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0755"
  loop:
    - "{{ docker_dir }}/paperless"

- name: Create paperless data directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/paperless/data"
    state: directory
    mode: '0755'
    access_time: preserve
    modification_time: preserve

- name: Create paperless media directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/paperless/media"
    state: directory
    mode: '0755'
    access_time: preserve
    modification_time: preserve

- name: Create paperless consume directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/paperless/consume"
    state: directory
    mode: '0755'
    access_time: preserve
    modification_time: preserve

- name: Create paperless export directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/paperless/export"
    state: directory
    mode: '0755'
    access_time: preserve
    modification_time: preserve

- name: Create paperless redis container
  community.docker.docker_container:
    name: paperless-redis
    image: redis:alpine3.18
    pull: true
    state: started
    recreate: true
    restart_policy: unless-stopped
    networks:
      - name: homelab

- name: Create paperless application container
  community.docker.docker_container:
    name: paperless-app
    image: ghcr.io/paperless-ngx/paperless-ngx:2.14.1
    pull: true
    state: started
    recreate: true
    restart_policy: unless-stopped
    env:
      PAPERLESS_REDIS: "redis://paperless-redis:6379"
      PAPERLESS_OCR_LANGUAGE: "deu"
      PAPERLESS_TIME_ZONE: "Europe/Berlin"
      PAPERLESS_CONSUMER_POLLING: "60"
      PAPERLESS_DBHOST: "pgsql01.casalani.de"
      PAPERLESS_DBUSER: "paperless"
      PAPERLESS_DBPASS: "{{ SECRET_PAPERLESS_DBPASS }}"
      PAPERLESS_PORT: "8000"
      PAPERLESS_URL: "{{ SECRET_PAPERLESS_URL }}"
    volumes:
      - "{{ docker_dir }}/paperless/data:/usr/src/paperless/data"
      - "{{ docker_dir }}/paperless/media:/usr/src/paperless/media"
      - "{{ docker_dir }}/paperless/consume:/usr/src/paperless/consume"
      - "/mnt/paperless-backup/:/usr/src/paperless/export"
    networks:
      - name: homelab
    labels:
      traefik.enable: "true"
      traefik.http.routers.paperless.rule: "Host(`dms.{{ SECRET_DOMAIN }}`)"
      traefik.http.routers.paperless.entrypoints: "https"
      traefik.http.routers.paperless.tls.certresolver: "letsencrypt"
      traefik.http.services.paperless.loadbalancer.server.port: "8000"
