---
- name: Create phpmyadmin container
  community.docker.docker_container:
    name: phpmyadmin
    image: phpmyadmin:5.2.2
    pull: true
    state: started
    recreate: true
    restart_policy: unless-stopped
    env:
      PMA_HOST: "mysql01.casalani.de"
      PMA_USER: "root"
      PMA_PASSWORD: "{{ SECRET_MYSQL_ROOT }}"
    volumes:
      - "{{ docker_dir }}/phpmyadmin/data:/var/lib/phpmyadmin"
    networks:
      - name: homelab
    labels:
      traefik.enable: "true"
      traefik.http.routers.phpmyadmin.rule: "Host(`phpmyadmin.{{ SECRET_DOMAIN }}`)"
      traefik.http.routers.phpmyadmin.entrypoints: "https"
      traefik.http.routers.phpmyadmin.tls.certresolver: "letsencrypt"
      traefik.http.services.phpmyadmin.loadbalancer.server.port: "80"
