---
version: '3'

services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - TZ=Europe/Berlin
    volumes:
      - {{ containers_base_dir }}/data/prowlarr:/config
      - {{ backup_base_dir }}/prowlarr:/config/Backups
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.prowlarr.entrypoints=websecure
      - traefik.http.routers.prowlarr.tls.certresolver=letsencrypt
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
    networks:
      - traefik_proxy
      - default

networks:
  traefik_proxy:
      name: traefik_proxy
      external: true
  default:
    driver: bridge
