---
version: "3"

services:
  teslamate:
    image: teslamate/teslamate:1.27.2
    restart: always
    environment:
      - ENCRYPTION_KEY=3CUQv7GbijOjAltg7yhMgI0xznCpWvsb
      - DATABASE_USER={{SECRET_TESLAMATE_USER}}
      - DATABASE_PASS={{SECRET_TESLAMATE_PASSWORD}}
      - DATABASE_NAME=teslamate
      - DATABASE_HOST={{SECRET_POSTGRES_SERVER}}
      - DISABLE_MQTT=true
    volumes:
      - ./docker/data/teslamate:/opt/app/import
    labels:
      - traefik.enable=true
      - traefik.http.routers.teslamate.rule=Host(`teslamate.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.teslamate.entrypoints=websecure
      - traefik.http.routers.teslamate.tls.certresolver=letsencrypt
      - traefik.http.services.teslamate.loadbalancer.server.port=4000
    networks:
      - traefik_proxy
      - default

networks:
  traefik_proxy:
      name: traefik_proxy
      external: true
  default:
    driver: bridge
