---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app freshrss
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: ingress-nginx
      namespace: networking
  values:
    controllers:
      freshrss:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/auricom/postgres-init
              tag: 15.6@sha256:e5dfcf4d53d4dfe3bf996ba02fec5145e0c4f0a3d5f14a0f529e1f8830157d20
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: freshrss-dbinit-secret
        containers:
          app:
            image:
              repository: freshrss/freshrss
              tag: 1.25.0
            env:
              TZ: ${TIMEZONE}
              CRON_MIN: "18,48"
            envFrom:
              - secretRef:
                  name: freshrss-secret
            resources:
              requests:
                cpu: 50m
                memory: 256Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 80

    ingress:
      app:
        className: nginx
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: sh-freshrss
          gethomepage.dev/name: FreshRSS
          gethomepage.dev/group: selfhosted
          external-dns.alpha.kubernetes.io/target: "ingress.${SECRET_DOMAIN}"
        hosts:
          - host: &host "freshrss.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        existingClaim: freshrss
        globalMounts:
          - path: /var/www/FreshRSS/data