---
version: "3"

services:
  barassistant-meilisearch:
    image: getmeili/meilisearch:v1.0
    environment:
      - MEILI_MASTER_KEY={{ SECRET_MEILI_MASTER_KEY }}
      - MEILI_ENV=production
    restart: unless-stopped
    volumes:
      - /container/data/barassistant/meilisearch:/meili_data
    networks:
      - barassistant

  barassistant-redis:
    image: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    restart: unless-stopped
    networks:
      - barassistant

  barassistant-bar-assistant:
    image: barassistant/server:latest
    depends_on:
      - barassistant-meilisearch
      - barassistant-redis
    environment:
      - APP_URL=https://bar.{{ SECRET_DOMAIN }}/bar
      - LOG_CHANNEL=stderr # 
      - MEILISEARCH_KEY={{ SECRET_MEILI_MASTER_KEY }}
      - MEILISEARCH_HOST=http://barassistant-meilisearch:7700 # 
      - REDIS_HOST=redis # 
      - ALLOW_REGISTRATION=true
    restart: unless-stopped
    volumes:
      - /container/data/barassistant/barassistant:/var/www/cocktails/storage/bar-assistant
    networks:
      - barassistant

  barassistant-salt-rim:
    image: barassistant/salt-rim:latest
    depends_on:
      - barassistant-bar-assistant
    environment:
      - API_URL=https://bar.{{ SECRET_DOMAIN }}/bar
      - MEILISEARCH_URL=https://bar.{{ SECRET_DOMAIN }}/search
      - BAR_NAME=CASALANI
      - DESCRIPTION=Beschreibung
    restart: unless-stopped
    networks:
      - barassistant

  barassistant-webserver:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - /container/apps/barassistant/nginx.conf:/etc/nginx/conf.d/default.conf # 
    labels:
      - traefik.enable=true
      - traefik.http.routers.barassistant.rule=Host(`bar.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.barassistant.entrypoints=websecure
      - traefik.http.routers.barassistant.tls.certresolver=letsencrypt
      - traefik.http.services.barassistant.loadbalancer.server.port=3000
    networks:
      - barassistant
      - traefik_proxy

networks:
  traefik_proxy:
      name: traefik_proxy
      external: true
  barassistant:
    driver: bridge
