---
version: '3'

services:
  tunnel:
    container_name: cloudflared-tunnel
    image: cloudflare/cloudflared:2023.1.0
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN="{{ SECRET_CLOUDFLARED_TOKEN }}"