# Folders
ignore/
testing/

# Trash
.DS_Store
Thumbs.db

# Ansible
ansible/k3s/roles/xanmanning.k3s
ansible/k3s/roles/mrlesmithjr.zfs

# Flux update
bin/flux

# Direnv
.direnv
.venv

# Sops
.decrypted~*
*.key
*.agekey

# Other files
kubeconfig*
