---
version: '3'

services:
  homepage:
    image: ghcr.io/benphelps/homepage:v0.6.16
    container_name: homepage
    volumes:
      - /container/config/homepage:/app/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.homepage.rule=Host(`homepage.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.homepage.entrypoints=websecure
      - traefik.http.routers.homepage.tls.certresolver=letsencrypt
      - traefik.http.services.homepage.loadbalancer.server.port=3000
    networks:
      - homepage
      - traefik_proxy

networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  homepage:
    driver: bridge