---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
spec:
  interval: 30m
  chart:
    spec:
      chart: spegel
      version: v0.0.29
      sourceRef:
        kind: HelmRepository
        name: spegel
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: spegel-helm-values
  values:
    image:
      repository: ghcr.io/deedee-ops/spegel
      digest: sha256:267dc3b79750dfca9a961be1f6f9b39997e598f6ee4b2cac7a98641d163a7a78
    grafanaDashboard:
      enabled: true
    serviceMonitor:
      enabled: true