---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

- Medien:
    - Jellyfin:
        href: "{{ SECRET_HOMEPAGE_JELLYFIN_URL }}"
        widget:
          type: jellyfin
          url: "{{ SECRET_HOMEPAGE_JELLYFIN_URL }}"
          key: "{{ SECRET_HOMEPAGE_JELLYFIN_KEY }}"

  - 
    - radarr:
        href: "{{ SECRET_HOMEPAGE_RADARR_URL }}"
        widget:
          type: radarr
          url: "{{ SECRET_HOMEPAGE_RADARR_URL }}"
          key: "{{ SECRET_HOMEPAGE_RADARR_KEY }}"
  -
    - sonarr:
        href: "{{ SECRET_HOMEPAGE_SONARR_URL }}"
        widget:
          type: sonarr
          url: "{{ SECRET_HOMEPAGE_SONARR_URL }}"
          key: "{{ SECRET_HOMEPAGE_SONARR_KEY }}"

    - immich:
        href: "{{ SECRET_HOMEPAGE_IMMICH_URL }}"
        widget:
          type: immich
          url: "{{ SECRET_HOMEPAGE_IMMICH_URL }}"
          key: "{{ SECRET_HOMEPAGE_IMMICH_KEY }}"

    - sabnzbd:
        href: "{{ SECRET_HOMEPAGE_SABNZBD_URL }}"
        widget:
          type: sabnzbd
          url: "{{ SECRET_HOMEPAGE_SABNZBD_URL }}"
          key: "{{ SECRET_HOMEPAGE_SABNZBD_KEY }}"

- Netzwerk:
    - AdGuard Home:
        href: "{{ SECRET_HOMEPAGE_ADGUARD_URL }}"
        widget:
          type: adguard
          url: "{{ SECRET_HOMEPAGE_ADGUARD_URL }}"
          username: "{{ SECRET_HOMEPAGE_ADGUARD_USER }}"
          password: "{{ SECRET_HOMEPAGE_ADGUARD_PASSWORD }}"

    - Unifi Controller:
        href: "{{ SECRET_HOMEPAGE_UNIFI_URL }}"
        widget:
          type: unifi
          url: "{{ SECRET_HOMEPAGE_UNIFI_URL }}"
          username: "{{ SECRET_HOMEPAGE_UNIFI_USER }}"
          password: "{{ SECRET_HOMEPAGE_UNIFI_PASSWORD }}"

    - opnSense:
        href: "{{ SECRET_HOMEPAGE_OPNSENSE_URL }}"
        widget:
          type: opnsense
          url: "{{ SECRET_HOMEPAGE_OPNSENSE_URL }}"
          username: "{{ SECRET_HOMEPAGE_OPNSENSE_USER }}"
          password: "{{ SECRET_HOMEPAGE_OPNSENSE_PASSWORD }}"
