---
web:
  port: ${CUSTOM_WEB_PORT}
storage:
  type: postgres
  path: postgres://${INIT_POSTGRES_USER}:${INIT_POSTGRES_PASS}@${INIT_POSTGRES_HOST}:5432/${INIT_POSTGRES_DBNAME}?sslmode=disable
  caching: true
metrics: true
debug: false
ui:
  title: Status | Gatus
  header: Status
alerting:
  pushover:
    application-token: ${CUSTOM_PUSHOVER_TOKEN}
    user-key: ${CUSTOM_PUSHOVER_USER_KEY}
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 5
      success-threshold: 2
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m
endpoints:
#   - name: status
#     group: external
#     url: https://status.devbu.io
#     interval: 1m
#     client:
#       dns-resolver: tcp://1.1.1.1:53
#     conditions:
#       - "[STATUS] == 200"
#     alerts:
#       - type: pushover
  - name: flux-webhook
    group: external
    url: https://flux-webhook.casalani.de
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 404"
    alerts:
      - type: pushover


  ## Media
  - name: sonarr
    group: media
    url: "tcp://sonarr.media.svc.cluster.local:8989"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: pushover
  - name: radarr
    group: media
    url: "tcp://radarr.media.svc.cluster.local:7878"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: pushover
  - name: sabnzbd
    group: media
    url: "tcp://sabnzbd.media.svc.cluster.local:8080"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: pushover
  - name: prowlarr
    group: media
    url: "tcp://prowlarr.media.svc.cluster.local:9696"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: pushover
  - name: jellyseerr
    group: media
    url: "tcp://jellyseerr.media.svc.cluster.local:8080"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: pushover

  ## Database
  - name: postgresql
    group: database
    url: "tcp://postgres16-v2-rw.database.svc.cluster.local:5432"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: pushover

  - name: redis
    group: database
    url: "tcp://dragonfly.database.svc.cluster.local:6379"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: pushover

  ## Netcup
  - name: teqqy.de
    group: netcup
    url: "https://teqqy.de"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: petra-tabarelli.de
    group: netcup
    url: "https://petra-tabarelli.de"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: kirchenchor-ockenheim.de
    group: netcup
    url: "https://kirchenchor-ockenheim.de"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: tabarelli.family
    group: netcup
    url: "https://tabarelli.family"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: nachspielzeiten.de
    group: netcup
    url: "https://nachspielzeiten.de"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: midsomermurdershistory.org
    group: netcup
    url: "https://midsomermurdershistory.org"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: wetter-ockenheim.de
    group: netcup
    url: "https://wetter-ockenheim.de"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: Matomo
    group: netcup
    url: "https://analytics.teqqnet.de"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover

  ## Mailserver
  - name: Admin Console
    group: mailserver
    url: "https://mail.teqqnet.de"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: smtp
    group: mailserver
    url: "tcp://mail.teqqnet.de:587"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: pushover