---
version: '3'

services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:4.0.3
    container_name: sabnzbd
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
    volumes:
      - /docker/data/sabnzbd:/config
      - /mnt/backup/sabnzbd:/config/Backups
      - /mnt/media:/media
      - /docker/data/sabnzbd/incomplete:/incomplete-downloads
    labels:
      - traefik.enable=true
      - traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.sabnzbd.entrypoints=websecure
      - traefik.http.routers.sabnzbd.tls.certresolver=letsencrypt
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
    networks:
      - traefik_proxy
      - default

networks:
  traefik_proxy:
      name: traefik_proxy
      external: true
  default:
    driver: bridge
