---
apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: google-coral-device
  namespace: kube-system
spec:
  rules:
    - # zWave Device
      name: zwave
      labels:
        feature.node.kubernetes.io/zwave: "true"
      matchFeatures:
        - feature: usb.device
          matchExpressions:
            class: { op: In, value: ["02"] }
            vendor: { op: In, value: ["0658"] }
            device: { op: In, value: ["0200"] }