---
version: '3'

services:
  tunnel:
    container_name: cloudflared
    image: cloudflare/cloudflared:2023.4.1
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN={{SECRET_CLOUDFLARED_TOKEN}}