---
- name: Create zigbee2mqtt application directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0755"
  loop:
    - "{{ docker_dir }}/zigbee2mqtt"

- name: Create zigbee2mqtt data directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/zigbee2mqtt/data"
    state: directory
    mode: '0755'
    access_time: preserve
    modification_time: preserve

- name: Create zigbee2mqtt container
  community.docker.docker_container:
    name: zigbee2mqtt
    image: ghcr.io/koenkk/zigbee2mqtt:2.0.0
    pull: true
    state: started
    recreate: true
    restart_policy: unless-stopped
    privileged: true
    env:
      TZ: "{{ TZ }}"
    volumes:
      - "{{ docker_dir }}/zigbee2mqtt/data:/app/data"
      - /run/udev:/run/udev:ro
    networks:
      - name: homelab
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    ports:
      - 8080:8080