---
version: '3'

services:
  zwavejs:
    image: zwavejs/zwave-js-ui:8.10.0
    container_name: zwavejs
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
    devices:
      - '/dev/ttyACM0:/dev/ttyACM0'
    volumes:
      - /docker/config/zwavejs:/usr/src/app/store
    labels:
      - traefik.enable=true
      - traefik.http.routers.zwave.rule=Host(`zwave.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.zwave.entrypoints=websecure
      - traefik.http.routers.zwave.tls.certresolver=letsencrypt
      - traefik.http.services.zwave.loadbalancer.server.port=8091

    networks:
      - traefik_proxy
      - default

networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  default:
    driver: bridge