---
version: '3'

services:
  homepage:
    image: ghcr.io/benphelps/homepage:v0.6.3
    container_name: homepage
    volumes:
      - ./config:/app/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.rule=Host(`homepage.casalani.de`)"
      - "traefik.http.routers.homepage.entrypoints=web"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"
    networks:
      - homepage
      - traefik_proxy

networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  homepage:
    driver: bridge