---
version: '3'

services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:4.3.0
    container_name: recyclarr
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
    volumes:
      - {{ containers_base_dir }}/config/recyclarr:/config
