---
version: '3.7'
services:
  ghostfolio-app:
    image: ghostfolio/ghostfolio:1.242.0
    container_name: ghostfolio-app
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://{{SECRET_GHOSTFOLIO_DB_USER}}:{{SECRET_GHOSTFOLIO_DB_PASSWORD}}@pgsql01.casalani.de:5432/ghostfolio?sslmode=prefer
      REDIS_HOST: 'ghostfolio-redis'
      REDIS_PORT: '6379'
      ACCESS_TOKEN_SALT: {{SECRET_GHOSTFOLIO_ACCESS_TOKEN}}
      JWT_SECRET_KEY: {{SECRET_GHOSTFOLIO_JWT_SECRET_KEY}}
      PORT: 3333
      COMPOSE_PROJECT_NAME: ghostfolio
      HOST: 0.0.0.0
      NODE_ENV: production
    labels:
      - traefik.enable=true
      - traefik.http.routers.ghostfolio.rule=Host(`ghostfolio.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.ghostfolio.entrypoints=websecure
      - traefik.http.routers.ghostfolio.tls.certresolver=letsencrypt
      - traefik.http.services.ghostfolio.loadbalancer.server.port=3333
    networks:
      - default
      - traefik_proxy

  ghostfolio-redis:
    image: redis:alpine
    container_name: ghostfolio-redis
    restart: unless-stopped

networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  default:
    driver: bridge  