---
ports:
  dns: 0.0.0.0:53
  http: 0.0.0.0:4000

bootstrapDns:
  - tcp-tls:1.1.1.1:853
  - tcp-tls:1.0.0.1:853

upstreams:
  groups:
    default:
      - tcp-tls:1.1.1.1:853
      - tcp-tls:1.0.0.1:853

clientLookup:
  upstream: &router 192.168.10.1

conditional:
  fallbackUpstream: false
  mapping:
    168.192.in-addr.arpa: *router
    casalani.de: *router

# customDNS:
#   zone: |
#     $TTL 3600
#     $ORIGIN jory.dev.
#     ; LAN
#     unifi      IN A      192.168.1.1
#     ; Containers
#     bws-cache  IN A      192.168.1.2
#     ; Servers
#     voyager    IN A      10.69.1.100
#     ; CNAME records
#     minio      IN CNAME  voyager.jory.dev.
#     nas        IN CNAME  voyager.jory.dev.
#     portainer  IN CNAME  voyager.jory.dev.
#     s3         IN CNAME  voyager.jory.dev.
    
#     $TTL 3600
#     $ORIGIN jory.casa.
#     ; Containers
#     traefik    IN A      192.168.1.2
#     gatus      IN A      192.168.1.2
#     ; CNAME records
#     blocky     IN CNAME  traefik.jory.casa.
#     bws-cache  IN CNAME  traefik.jory.casa.
#     status     IN CNAME  traefik.jory.casa.

connectIPVersion: v4

caching:
  minTime: 15m
  prefetching: true
  cacheTimeNegative: -1

ecs:
  useAsClient: true

prometheus:
  enable: true
  path: /metrics

blocking:
  loading:
    downloads:
      timeout: 60s
  blackLists:
    ads:
      - https://big.oisd.nl/domainswild
      - |
        *.androidtvchannels-pa.googleapis.com
        *.androidtvwatsonfe-pa.googleapis.com
      - https://raw.githubusercontent.com/cbirkenbeul/homelab/refs/heads/main/kubernetes/apps/network/blocky/app/resources/blacklist.txt
  whiteLists:
    ads:
      - |
        *.amazonaws.com
      - https://raw.githubusercontent.com/cbirkenbeul/homelab/refs/heads/main/kubernetes/apps/network/blocky/app/resources/whitelist.txt
  clientGroupsBlock:
    default:
      - ads