---
version: '3'

services:
  prometheus:
    image: prom/prometheus:v2.43.1
    container_name: prometheus
    restart: unless-stopped
    environment:
      - TZ={{ TZ }}
    volumes:
      - /container/config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
