---
version: '3'

services:
  jellyseerr:
    image: fallenbagel/jellyseerr:1.4.1
    container_name: jellyseerr
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
    volumes:
      - /container/data/jellyseerr:/app/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyseerr.rule=Host(`jellyseerr.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.jellyseerr.entrypoints=websecure
      - traefik.http.routers.jellyseerr.tls.certresolver=letsencrypt
      - traefik.http.services.jellyseerr.loadbalancer.server.port=5055

    networks:
      - traefik_proxy
      - default

networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  default:
    driver: bridge