---
apiVersion: v1
kind: Service
metadata:
  name: postgres16-v1
  namespace: database
  annotations:
    loadBalancerIP: "${METALLB_POSTGRES}"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    #postgresql: postgres
    cnpg.io/cluster: postgres16-restore-test
    role: primary